<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Alquiler de sonido e iluminaci贸n. Pr贸ximamente verano 2025.">
  <meta property="og:site_name" content="SoundPro">
  <meta property="og:title" content="SoundPro">
  <meta property="og:description" content="Alquiler de sonido e iluminaci贸n. Pr贸ximamente verano 2025.">
  <meta property="og:url" content="https://soundpro.es">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://res.cloudinary.com/dmbdukxs0/image/upload/v1704514717/SoundPro/LogoWhite_glmltq.png"> 
  <link rel="canonical" href="https://soundpro.es">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
  <title>SoundPro</title>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: [
        'Inter:400,500,600,700',
        'Outfit:300,400' 
      ]
      }
    });
  </script>
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
  <script src="/js/localStorage/localStorage.js"></script>
  <%- body %>
  <script src="/js/flash/customFlash.js"></script>
</body>
</html>