<link rel="stylesheet" href="/stylesheets/secondaryNavbar.css">

<nav class="secondary_navbar section_padding">
  <div class="secondary_navbar-container">
    <p><a href="">Todo</a></p>
    <p><a href="">Sonido</a></p>
    <p><a href="">Micrófonos</a></p>
    <p><a href="">Iluminación y efectos</a></p>
    <p><a href="">Instrumentos</a></p>
    <p><a href="">Cables</a></p>
  </div>
</nav>