<link rel="stylesheet" href="/stylesheets/secondaryNavbar.css">

<nav class="secondary_navbar admin section_padding">
  <div class="secondary_navbar-container">
    <p>Eliminar producto</p>
    <p>Editar producto</p>
    <p>Añadir producto</p>    
  </div>
</nav>